@{
    ViewData["Title"] = "Manager Login";
}
<p class="alert alert-info">Enter the manager password:</p>
<hr />
<form asp-action="Index" id="mixedForm" class="alert alert-secondary col mx-5">
     <div class="form-group col-4">
        <label name="Password"  class="control-label"><h4>Password</h4></label>
        <input name="_password" type="password" data-val="true" data-val-minlength-min="8" data-val-regex-pattern="^[A-Za-z]\S+$" data-val-minlength="Password must be at least 8 characters." data-val-regex="Password must meet criteria." data-val-required="Password is required." class="form-control" />
        <span class="text-danger" data-valmsg-for="_password" data-valmsg-replace="true"></span>
    </div><br />
    <div class="form-group col-4 d-flex justify-content-end">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}